{% extends 'layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="home">
        <div class="offres">

        </div>
        <div>
            {{ form_start(form) }}
            {{ form_rest(form) }}
            <button type="submit"> Add </button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
