{% extends 'base.html.twig' %}
{% block body %}
    <header>
        <div class="container">
            <a href="{{ url('app_index') }}">
            <h1>Home</h1>
            </a>
        </div>
    </header>

    <div class="App">
        <div class="pages">
            {% block content %} {% endblock %}
        </div>
    </div>


{% endblock %}